.course {
  width: 100%;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  padding-top: 100px;
}
.courseWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.aside {
  display: none;
  min-width: 300px;
  border-right: 0.3px solid rgba(255, 255, 255, 0.3);
  padding: 10px 0 0 0;
}
.sectionsList {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sectionsTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-right: 10px;
  margin: 0;
}
.sectionBtn {
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  width: 100%;
  padding: 10px 10px;
  display: flex;
  justify-content: left;
  cursor: pointer;

  transition: background-color 200ms ease;
}
.sectionBtn:hover {
  background-color: rgba(180, 180, 180, 0.178);
}
.sectionBtnActive {
  color: goldenrod;
}
.sectionWrapper {
  padding: 0 10px;
  min-height: 100vh;
  width: 100%;
}
.courseNavBtn {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 10px;
  margin-bottom: 20px;
  cursor: pointer;
}
.courseMenuWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2px 2px;
  border-radius: 5px;
}
/* .courseNavBtn:hover {
  background-color: rgba(0, 0, 0, 0.7);
} */
.courseNavWrapper {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  border-right: 0.2px solid rgba(255, 255, 255, 0.2);
  max-width: 80%;
  min-height: 100vh;
  left: 0;
  top: 0;
  z-index: 9999;

  opacity: 0;
  transform: translateX(-105%);

  transition-delay: 200ms;
  transition: transform 200ms ease;
}
.courseNavActive {
  opacity: 1;
  transform: translateX(0);
}
.backdrop {
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  display: none;
}
.backdropActive {
  opacity: 1;
  display: block;
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1100px) {
  .aside {
    display: block;
  }
  .courseNavWrapper {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
}
