.aside {
  width: 100%;
  padding: 0px 10px;
  padding-top: 50px;
  overflow-y: scroll;
}
.sectionsTitle {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  padding-right: 10px;
  color: white;
  margin: 0;
  max-width: 400px;
}
.courseNavBtn {
  display: flex;
  color: white;
  align-items: baseline;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}
.sectionsList {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.sectionBtn {
  font-style: normal;
  font-weight: 100;
  font-size: 20px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  width: 100%;
  color: white;
  padding: 10px 10px;
  display: flex;
  justify-content: left;
  cursor: pointer;

  transition: background-color 200ms ease;
}
.sectionBtn:hover {
  background-color: rgb(43, 43, 43);
}
.sectionBtnActive {
  color: goldenrod;
}
.closeBtn {
  padding: 7px 10px;
  color: white;
  cursor: pointer;
  background-color: transparent;
  border: 0.5px solid white;
  border-radius: 2px;
}
.closeBtn:hover {
  color: goldenrod;
  border-color: goldenrod;
}
