.paymentStatus {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card {
  padding: 30px;
  border: 0.1px solid rgba(255, 255, 255, 0.2);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.statusBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.paymentTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  margin: 0;
}
.goBackBtn {
  position: absolute;
  top: 50px;
  left: 50px;
  background: none;
  border: none;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: color 0.3s;
}
.goBackBtn:hover {
  color: goldenrod;
}

.statusRefreshBox {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.refreshBtn{
    background: none;
    border: none;
    font-size: 20px;
    color: white;
    cursor: pointer;
    transition: color 0.3s; 
}
.refreshBtn:hover{
    color: goldenrod;
}