.offer {
  padding: 0 0 150px 0;

  display: flex;
  justify-content: center;
}
.container {
  width: 1600px;
}
.title {
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 40px;
  padding-bottom: 10px;
  opacity: 0;

  transform: translateY(-10px);
  transition: all 250ms ease;
  transition-delay: 100ms;
}

.headerSecondary {
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 24px;
  opacity: 0;

  transform: translateY(-10px);
  transition: all 250ms ease;
  transition-delay: 300ms;
}

.spanLine {
  width: 0px;
  height: 2px;
  margin: 20px 0;

  background: linear-gradient(
    90deg,
    rgba(27, 8, 75, 0.9) 30%,
    rgba(235, 71, 167, 0.9) 100%
  );
  transition: width 0.5s ease-in-out;
}
.lineVisible {
  width: 200px;
}

.text {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 20px;
  opacity: 0;
  transform: translateY(-10px);
  transition: all 250ms ease;
  transition-delay: 500ms;
  margin-bottom: 20px;
}
.titleVisible {
  opacity: 1;
  transform: translateY(0);
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}
.item {
  max-width: 450px;
  position: relative;
  opacity: 0;
  transform: translateX(-10px);

  transition: all 500ms ease;
  transition-delay: 250ms;
}
.item:nth-child(2) {
  transition-delay: 500ms;
}
.item:nth-child(3) {
  transition-delay: 750ms;
}
.item:hover {
  border-radius: 20px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.8);
}
.itemArrow {
  position: absolute;
  right: -75px;
  top: 50%;

  transform: translateX(50%);
}
.card {
  background: rgb(24, 7, 66);
  background: linear-gradient(
    -45deg,
    rgba(19, 5, 54, 0.9) 20%,
    rgba(235, 71, 167, 0.9) 100%
  );
  border: 0.3px solid rgba(255, 255, 255, 0.3);
  height: 100%;
  border-radius: 20px;
}
.image {
  width: 100%;
}
.imageBox {
  width: 100%;
}
.itemHeader {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 28px;
  padding-bottom: 20px;
}
.descriptionBox {
  padding: 0 15px 15px 15px;
}
.description {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  flex-grow: 1;
  min-height: 110px;

  margin-bottom: 20px;
  text-align: start;
}
.buttonBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.button {
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 18px;
  color: white;
  border: none;
  border-radius: 30px;
  padding: 15px 50px;
  cursor: pointer;

  background-color: rgb(211, 33, 93);
  z-index: 100;

  transition: background-color 200ms ease;
  width: 100%;
}
.button:hover {
  cursor: pointer;
  background-color: rgb(165, 25, 72);
}

.sectionVisible {
}
.cardVisible {
  opacity: 1;
  transform: translateX(0);
}
.cardNoVisible {
  opacity: 0;
}
.titleVisible {
  opacity: 1;
  transform: translateY(0);
}
.titleNoVisible {
  opacity: 0;
}
