.userNav {
  position: relative;
  transition: color 200ms ease;
}
.userNav:hover {
  color: goldenrod;
}
.userModal {
  /* min-width: 200px; */
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px;
}
.activeModal {
  color: goldenrod;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.btn {
  width: 100%;
  box-sizing: border-box;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  color: white;
  border: none;
  border-radius: 2px;
  padding: 10px 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(211, 33, 93);
  z-index: 100;

  transition: background-color 200ms ease;
}
.btn:hover {
  cursor: pointer;
  background-color: rgb(165, 25, 72);
}
.btnNoActive {
  pointer-events: none;
  background-color: rgb(139, 21, 60);
}
.userEmail {
  box-sizing: border-box;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: white;
  text-align: center;
}
